form {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.4rem;
}

.mat-form-field {
  width: 100%; /* Full width for each field */
}

.mat-checkbox {
  display: flex;
  align-items: center;
  margin-top: -10px; /* Adjust for better spacing */
  margin-bottom: 20px; /* Add consistent spacing below checkbox */
  /*margin-bottom: 20px; !* Add consistent spacing below checkbox *!*/
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}
button {
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type="submit"] {
  background-color: #28a745;
  color: white;
}

button[type="submit"]:hover {
  background-color: #218838;
}

button[type="button"] {
  background-color: #6c757d;
  color: white;
}

button[type="button"]:hover {
  background-color: #5a6268;
}

.mat-tooltip {
  background: #333;
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
}



@media (max-width: 768px) {
  .button-group {
    flex-direction: column;
    gap: 15px;
  }

  button {
    width: 100%;
  }
}
