<!--s-->
<!--<div class="investment-item">-->
<!--  <h3>{{ investment.name }}</h3>-->
<!--  <p>Initial Amount: {{ investment.initialAmount }}</p>-->
<!--  <p>Interest Rate: {{ investment.interestRate }}%</p>-->
<!--  <p>Duration: {{ investment.duration }} years</p>-->
<!--  <p>Compound Frequency: {{ investment.compoundFrequency }}</p>-->
<!--</div>-->

<div *ngIf="investment" class="investment-item" >
  <h3>Investments Details</h3>
  <p>ID: {{ investment?.id }}</p>
  <p>Investment Name:{{ investment?.name }}</p>
  <p>Initial Amount: {{ investment?.initialAmount }}</p>
  <p>Interest Rate: {{ investment?.interestRate }}%</p>
  <p>Duration: {{ investment?.duration }} years</p>
  <img ngSrc='{{investment?.image}}' alt="Image of Investments" width="400" height="200" />
  <p>Compound Frequency: {{ investment?.compoundFrequency }}</p>
  <button (click)="goBackward()" [disabled]="currentIndex === 0">Previous</button>
  <button (click)="goForward()" [disabled]="currentIndex === investmentList.length - 1">Next</button>
  <button (click)="goBack()">Back to Student List</button>
</div>

