<div class="investment-item">
  <img [src]="investmentInput.imageUrl" alt="{{ investmentInput.name }}" />
  <div class="investment-id">ID: {{ investmentInput.id }}</div>
  <div class="investment-details">
    <p>Name:{{ investmentInput.name }}</p>
    <p>Initial Amount: {{ investmentInput.initialAmount | currency: 'CAN' }}</p>
    <p>Interest Rate: {{ investmentInput.interestRate }}%</p>
    <p>Duration: {{ investmentInput.duration }} years</p>
    <p>Compound Frequency: {{ investmentInput.compoundFrequency ? 'Yes' : 'No' }}</p>
<!--    &lt;!&ndash; Edit and Delete Buttons &ndash;&gt;-->
<!--    <div class="button-group">-->
<!--      <button (click)="onEdit()">Edit</button>-->
<!--      <button (click)="onDelete()">Delete</button>-->
<!--    </div>-->
  </div>
</div>
