<div class="container">
  <h2>Investment List</h2>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Investment Name</th>
      <th>Initial Amount</th>
      <th>Interest Rate</th>
      <th>Duration (Years)</th>
      <th>Compound Frequency</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let investment of investments;"
        [routerLink]="['/investment', investment.id]">
      <td>{{ investment.id }}</td>
      <td>{{ investment.name }}</td>
      <td>{{ investment. initialAmount }}</td>
      <td>{{ investment.interestRate }}</td>
      <td>{{investment.duration }}</td>
      <td>{{ investment.compoundFrequency? 'Yes' : 'No' }}</td>
      <button (click)="editInvestment(investment.id)" class="btn btn-primary">Edit</button>
      <button (click)="deleteInvestment(investment.id)" class="btn btn-danger">Delete</button>

    </tr>
    </tbody>
  </table>
</div>


