.container {
  margin: 20px;
}

// creating table
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}


.even-item {
  background-color: lightblue;
}

.odd-item {
  background-color: lightgreen;
}

.investment-image {
  width: 100px;
  height: auto;
  margin-right: 15px;
  float: left;
}

.investment-item {
  overflow: hidden;
  border: 2px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
