/* Center the entire card content */
.investment-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

/* Center the image inside the card */
.investment-image-container {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.investment-image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Center details */
.investment-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
  font-size: 1.2rem;
  color: #333;
  text-align: center;
}


/* Center buttons */
.button-group {
  display: flex;
  justify-content: center;
  gap: 15px; /* Space between buttons */
  margin-top: 15px;
}

.button-group button {
  padding: 10px 20px;
  font-size: 1rem;
}

table {
  width: 100%;
}

th.mat-header-cell {
  color: #3f51b5;
  font-weight: bold;
}

td.mat-cell {
  padding: 16px;
  font-size: 1rem;
}

.mat-sort-header-arrow {
  color: #3f51b5;
}
